:root {
    --p-button-padding-x: 0.9375rem;
    --p-button-padding-y: 0.4375rem;
    --p-button-border-radius: var(--radius-sm);
    --p-button-gap: 0.5rem;

    --p-button-focus-ring-width: var(--p-form-field-focus-ring-width);
    --p-button-focus-ring-style: var(--p-form-field-focus-ring-style);
    --p-button-focus-ring-color: var(--p-form-field-focus-ring-color);
    --p-button-focus-ring-offset: 1px;
    --p-button-focus-ring-shadow: var(--p-form-field-focus-ring-shadow);

    --p-button-label-font-weight: 500;

    --p-button-icon-only-width: 2rem;

    --p-button-sm-font-size: 0.875rem;
    --p-button-sm-padding-y: 0.1875rem;
    --p-button-sm-padding-x: 0.6875rem;

    --p-button-primary-background: var(--control-primary-background-default);
    --p-button-primary-border-color: var(--control-primary-border-default);
    --p-button-primary-color: var(--control-primary-text-default);
    --p-button-primary-hover-background: var(--control-primary-background-hover);
    --p-button-primary-hover-border-color: var(--control-primary-border-hover);
    --p-button-primary-hover-color: var(--control-primary-text-hover);
    --p-button-primary-active-background: var(--control-primary-background-hover);
    --p-button-primary-active-border-color: var(--control-primary-border-hover);
    --p-button-primary-active-color: var(--control-primary-text-hover);

    --p-button-text-primary-color: var(--control-primary-background-default);
    --p-button-text-primary-hover-background: transparent;
    --p-button-text-primary-hover: var(--control-primary-background-hover);

    --p-button-primary-focus-ring-color: var(--p-form-field-focus-ring-color);
    --p-button-primary-focus-ring-shadow: var(--p-form-field-focus-ring-shadow);

    --p-button-secondary-background: var(--control-secondary-background-default);
    --p-button-secondary-border-color: var(--control-secondary-border-default);
    --p-button-secondary-color: var(--control-secondary-text-default);
    --p-button-secondary-hover-background: var(--control-secondary-background-hover);
    --p-button-secondary-hover-border-color: var(--control-secondary-border-hover);
    --p-button-secondary-hover-color: var(--control-secondary-text-hover);
    --p-button-secondary-active-background: var(--control-secondary-background-active);
    --p-button-secondary-active-border-color: var(--control-secondary-border-active);
    --p-button-secondary-active-color: var(--control-secondary-text-active);

    --p-button-text-secondary-color: var(--interactive-text-default);
    --p-button-text-secondary-hover-background: var(--control-secondary-background-hover);
    --p-button-text-secondary-hover-color: var(--interactive-text-hover);

    --p-button-danger-background: var(--control-critical-primary-background-default);
    --p-button-danger-border-color: var(--control-critical-primary-border-default);
    --p-button-danger-color: var(--control-critical-primary-text-default);
    --p-button-danger-hover-background: var(--control-critical-primary-background-hover);
    --p-button-danger-hover-border-color: var(--control-critical-primary-border-hover);
    --p-button-danger-hover-color: var(--control-critical-primary-text-hover);
    --p-button-danger-active-background: var(--control-critical-primary-background-active);
    --p-button-danger-active-border-color: var(--control-critical-primary-border-active);
    --p-button-danger-active-color: var(--control-critical-primary-text-active);

    --p-button-text-danger-color: var(--text-feedback-critical);
    --p-button-text-danger-hover-background: var(--background-feedback-critical);
    --p-button-text-danger-hover: var(--text-feedback-critical);

    --p-button-success-background: var(--control-connected-background-default);
    --p-button-success-border-color: var(--control-connected-border-default);
    --p-button-success-color: var(--control-connected-text-default);
    --p-button-success-hover-background: var(--control-connected-background-hover);
    --p-button-success-hover-border-color: var(--control-connected-border-hover);
    --p-button-success-hover-color: var(--control-connected-text-hover);
    --p-button-success-active-background: var(--control-connected-background-active);
    --p-button-success-active-border-color: var(--control-connected-border-active);
    --p-button-success-active-color: var(--control-connected-text-active);

    // --p-button-text-success-color: var(--control-connected-background-default);
    // --p-button-text-success-hover-background: var(--background-connected-critical);
    // --p-button-text-success-hover: var(--text-connected-critical);
}

@keyframes p-button-loading-dot-flashing {
    0% {
        background-color: currentColor;
    }
    50% {
        background-color: rgba(152, 128, 255, 0.2);
    }
    100% {
        background-color: rgba(152, 128, 255, 0.2);
    }
}

.p-button {
    text-rendering: optimizeLegibility;
}

.p-button:hover {
    --p-button-text-primary-color: var(--p-button-text-primary-hover-color);
    --p-button-text-secondary-color: var(--p-button-text-secondary-hover-color);
}

.p-button-sm {
    min-height: 2rem;
}

.p-button-loading-dots {
    display: none;
}

.p-button-loading {
    position: relative;

    &:has(.p-button-loading-dots) {
        &:before {
            content: '';
            position: absolute;
            background: var(--p-button-primary-background);
            border-radius: var(--p-button-border-radius);
            top: 1px;
            left: 1px;
            right: 1px;
            bottom: 1px;
        }
    }

    .p-button-loading-dots {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: currentColor;
        color: currentColor;
        animation: p-button-loading-dot-flashing 0.5s infinite linear alternate;
        animation-delay: 0.25s;
        transform: translate(-50%, -50%);

        &:before, &:after {
            content: "";
            display: inline-block;
            position: absolute;
            top: 0;
        }

        &:before {
            left: -15px;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            background-color: currentColor;
            color: currentColor;
            animation: p-button-loading-dot-flashing 0.5s infinite alternate;
            animation-delay: 0s;
        }

        &:after {
            left: 15px;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            background-color: currentColor;
            color: currentColor;
            animation: p-button-loading-dot-flashing 0.5s infinite alternate;
            animation-delay: 0.5s;
        }
    }
}