.p-chattimeline {
    color: var(--text-default);
    padding: 1px 0;
    margin: -1px 0;
    height: 100%;
    overflow: hidden;

    > .p-scrollpanel {
        height: 100%;
    }
}

.p-chattimeline-event {
    position: relative;
    padding: 0.125rem 1.5rem 0.125rem 4.5rem;
    line-height: 1.375rem;

    &:hover {
        background: var(--background-mod-subtle);

        .p-chattimeline-asidetime {
            visibility: visible;
        }
    }

    time {
        display: inline;
        color: var(--channels-default);
        font-size: 0.75rem;
        margin-left: 0.25rem;
        line-height: 1rem;
    }

    .p-avatar {
        position: absolute;
        left: 1rem;
        top: 0.25rem;
    }
}

.p-chattimeline-asidetime {
    visibility: hidden;
    position: absolute;
    left: 2rem;
    top: 0.3125rem;
    margin: 0;
    transform: translateX(-50%);
    user-select: none;
}

.p-chattimeline-event-header {
    white-space: break-spaces;

    a[href] {
        color: var(--text-strong);
        font-weight: 500;
    }

    time {
        margin-left: 0.5rem;
    }

    .p-chattimeline-blob {
        opacity: 0.171272;
        margin: 0.25rem 0 0 0;
    }
}

.p-chattimeline-event.p-chattimeline-event-groupstart {
    margin-top: 1.0625rem;
}

.p-chattimeline-event-icon {
    position: absolute;
    left: 1.75rem;
    top: 0.375rem;
}

.p-chattimeline-event-settings {
    color: var(--channels-default);

    strong {
        color: var(--text-strong);

        a[href] {
            color: var(--text-strong);
        }
    }
}

.p-chattimeline-date-heading {
    position: relative;
    height: 0px;
    border-top: 1px solid var(--border-subtle);
    margin: 1.5rem 1rem;

    time {
        background: var(--background-base-lower);
        position: absolute;
        top: -0.5625rem;
        left: 50%;
        color: var(--text-muted);
        font-size: 0.75rem;
        line-height: 0.8125rem;
        padding: 0.125rem 0.25rem;
        transform: translateX(-50%);
    }
}

.p-chattimeline-new-divider {
    position: relative;
    margin: 0.25rem 0.875rem 0.25rem 1rem;
    border-top: 1px solid var(--background-feedback-notification);
    text-transform: uppercase;
}

.p-chattimeline-new-divider-tag {
    display: flex;
    align-items: center;
    position: absolute;
    top: -0.4375rem;
    right: 0;
    padding: 0 0.25rem 0 0.125rem;
    margin: 0;
    background: var(--background-feedback-notification);
    color: var(--text-strong);
    border-radius: 0 var(--radius-xs) var(--radius-xs) 0;
    line-height: 0.8125rem;
    font-size: 0.625rem;

    &:before {
        display: block;
        content: '';
        width: 0.5625rem;
        height: 0.5625rem;
        background: var(--background-feedback-notification);
        position: absolute;
        transform: rotate(45deg);
        left: -0.3125rem;
        z-index: -1;
    }
}

.p-chattimeline-blob {
    display: inline-flex;
    background: var(--text-default);
    opacity: 0.06;
    width: 6rem;
    line-height: 1.375rem;
    height: 1rem;
    border-radius: 0.5rem;
}