:root {
    --p-progressbar-height: 0.5rem;
    --p-progressbar-background: #18191C; // ?
    --p-progressbar-border-radius: var(--radius-sm);
    --p-progressbar-value-background: var(--control-primary-background-default);
}