:root {
    --p-scrollpanel-bar-size: 0.25rem;
    --p-scrollpanel-bar-border-radius: 0.5rem;
    --p-scrollpanel-bar-background: var(--text-default);
    --p-scrollpanel-transition-duration: var(--p-transition-duration);
}