html {
    --default-font-family: var(--font-primary);
    font-family: var(--font-primary);
    background: var(--background-base-lowest);
    color: var(--text-default);
    margin: 0 !important;
    padding: 0 !important;
    overscroll-behavior: none !important;
}
body {
    margin: 0 !important;
    padding: 0 !important;
    overscroll-behavior: none !important;
}

a[href], .link {
    color: var(--text-brand);
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}