html {
    --default-font-family: var(--font-primary);
    font-family: var(--font-primary);
    background: var(--background-base-lowest);
    color: var(--text-default);
}

a[href], .link {
    color: var(--text-brand);
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}