@use "sass:map";

:root {
    --blurple-26: hsl(228.785 calc(1*100%) 79.02%/1);
    --blurple-50: hsl(234.935 calc(1*85.556%) 64.706%/1);
    --blurple-60: hsl(232.941 calc(1*46.667%) 50%/1);

    --neutral-1: hsl(0 calc(1*0%) 100%/1);
    --neutral-2: hsl(0 calc(1*0%) 98.431%/1);
    --neutral-10: hsl(240 calc(1*4.478%) 86.863%/1);
    --neutral-23: hsl(231.429 calc(1*4.348%) 68.431%/1);
    --neutral-37: hsl(233.333 calc(1*3.557%) 49.608%/1);
    --neutral-64: hsl(232.5 calc(1*6.557%) 23.922%/1);
    --neutral-73: hsl(230 calc(1*6.383%) 18.431%/1);
    --neutral-76: hsl(240 calc(1*5.882%) 16.667%/1);
    --neutral-79: hsl(240 calc(1*6.494%) 15.098%/1);

    --opacity-black-8-hsl: 0 calc(1*0%) 0%;
    --opacity-black-16: hsl(0 calc(1*0%) 0%/0.1607843137254902);
    --opacity-black-20: hsl(0 calc(1*0%) 0%/0.2);
    --opacity-black-28: hsl(0 calc(1*0%) 0%/0.2784313725490196);
    --opacity-black-72-hsl: 0 calc(1*0%) 0%;
    --opacity-white-8-hsl: 0 calc(1*0%) 100%;
    --opacity-4-hsl: 240 calc(1*4%) 60.784%;
    --opacity-12-hsl: 240 calc(1*4%) 60.784%;
    --opacity-20-hsl: 240 calc(1*4%) 60.784%;
    --opacity-16-hsl: 240 calc(1*4%) 60.784%;
    --primary-700-hsl: 225 calc(1*6.25%) 12.549%;

    --red-new-22: hsl(2.655 calc(1*100%) 77.843%/1);
}

:root {
    --background-scrim: hsl(var(--opacity-black-72-hsl)/0.7215686274509804);
    --background-surface-high: var(--neutral-79);
    --background-surface-higher: var(--neutral-76);
    --background-surface-highest: var(--neutral-73);

    --border-subtle: hsl(var(--opacity-12-hsl)/0.12156862745098039);

    --control-icon-only-background-hover: hsl(var(--opacity-16-hsl)/0.1607843137254902);
    --control-icon-only-border-hover: hsl(var(--opacity-4-hsl)/0.0392156862745098);
    --control-icon-only-icon-default: var(--neutral-23);
    --control-icon-only-icon-hover: var(--neutral-2);

    --control-primary-background-default: var(--blurple-50);
    --control-primary-border-default: hsl(var(--opacity-white-8-hsl)/0.0784313725490196);
    --control-primary-text-default: var(--neutral-1);
    --control-primary-background-hover: var(--blurple-60);
    --control-primary-border-hover: hsl(var(--opacity-white-8-hsl)/0.0784313725490196);
    --control-primary-text-hover: var(--neutral-1);

    --icon-strong: var(--neutral-2);

    --input-background-default: hsl(var(--opacity-black-8-hsl)/0.0784313725490196);
    --input-border-default: hsl(var(--opacity-20-hsl)/0.2);
    --input-placeholder-text-default: var(--neutral-37);

    --legacy-elevation-low: 0 1px 5px 0 var(--opacity-black-28);
    --legacy-elevation-high: 0 2px 10px 0 var(--opacity-black-20);
    --legacy-elevation-border: 0 0 0 1px hsl(var(--primary-700-hsl)/0.6);

    --modal-background: var(--neutral-64);

    --text-default: var(--neutral-10);
    --text-strong: var(--neutral-1);
    --text-muted: var(--neutral-23);
    --text-brand: var(--blurple-26);
    --text-feedback-critical: var(--red-new-22);
}